body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5f9ea0;
    color: white;
    padding: 1em 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contenido-principal {
    text-align: center;
}

#contenido-detalles .galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenido-detalles .galeria img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
